@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900&display=swap');


/* Variables */
:root{
    --mainColor: #fff;
    --mainColor2: #03A9F4;
    --subColor: #000;
    --subColor2: #ECECEC;
    --featuresColor1: #F44036;
    --featuresColor2: #009688;
    --sectionPadding: 80px 0;
    --borderRadius: 10px;
    --mainTransition: .3s;
}

/* Global-rules */
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Cairo', sans-serif;
}

ul{
    list-style-type: none;
}

a{
    display: inline-block;
    text-decoration: none;
    font-family: 'Cairo', sans-serif;
    cursor: default;
}

::placeholder{
    font-family: 'Cairo', sans-serif;
}

img{
    display: block;
}

input,
textarea{
    outline: none;
    border: none;
}

/* Utilities */
.container{
    width: 80%;
    margin: 0 auto;
}

.grid-columns--3{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 35px;
}

.grid-columns--4{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(255px, 1fr));
    gap: 35px;
}

/* Animations */
@keyframes slideFrombottom{
    0%{
        transform: translateY(60px);
        opacity: 0.7;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes slideFrombottom2{
    0%{
        transform: translateY(30px);
    }
    100%{
        transform: translateY(-30px);
    }
}

@keyframes bouncing {
    0%,
    10%,
    20%,
    30%,
    50%,
    70%,
    80%,
    90%,
    100% {
      transform: translateY(0);
    }
    40%,
    60% {
      transform: translateY(-15px);
    }
}

@keyframes slideFromleft{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(8px);
    }
}

@keyframes moveToright{
    50%{
        height: 12px;
        width: 12px;
        left: 0;
    }
    100%{
        left: 0;
        width: 55%;
        height: 100%;
        border-radius: 0;
    }
}

@keyframes moveToleft{
    50%{
        height: 12px;
        width: 12px;
        right: 0;
    }
    100%{
        right: 0;
        width: 55%;
        height: 100%;
        border-radius: 0;
    }
}

@keyframes flashing{
    0%, 40%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        width: 200%;
        height: 200%;
    }
}

@keyframes comeFromleft{
    0%{
        width: 0;
    }
    100%{
        width: 100%;
    }
}

/* Header */
header .container nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 72px;
}

header .container nav h1{
    color: var(--mainColor2);
    font-size: 25px;
}

header .container nav .main-ul{
    display: flex;
}

header .container nav .main-ul > li > a{
    padding: 0 30px;
    color: var(--subColor);
    font-size: 18px;
    display: flex;
    align-items: center;
    height: 72px;
    transition: var(--mainTransition);
    position: relative;
}

header .container nav .main-ul > li > a.active,
header .container nav .main-ul > li > a:hover{
    background-color: rgb(248, 248, 248);
    color: var(--mainColor2);
}

header .container nav .main-ul > li > a::before{
    content: "";
    height: 4px;
    background-color: var(--mainColor2);
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    transition: var(--mainTransition);
}

header .container nav .main-ul > li > a.active::before,
header .container nav .main-ul > li > a:hover::before{
    width: 100%;
}

header .container nav .main-ul > li:last-child .mega-menu{
    display: none;
}

header .container nav .main-ul > li:last-child:hover .mega-menu{
    position: absolute;
    left: 10%;
    top: 73px;
    display: flex;
    width: 80%;
    justify-content: space-between;
    padding: 25px;
    background-color: var(--mainColor);
    border-bottom: 3px solid var(--mainColor2);
    animation-name: slideFrombottom;
    animation-duration: .3s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    z-index: 100;
}

header .container nav .main-ul > li:last-child .mega-menu .links{
    width: 23%;
}

header .container nav .main-ul > li:last-child .mega-menu .links li a{
    display: block;
    padding: 10px;
    color: var(--mainColor2);
    font-size: 18px;
    font-weight: 700;
    border-bottom: 1px solid var(--subColor2);
    position: relative;
}

header .container nav .main-ul > li:last-child .mega-menu .links li a::before{
    content: "";
    background-color: rgb(248, 248, 248);;
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    z-index: -1;
    transition: var(--mainTransition);
}

header .container nav .main-ul > li:last-child .mega-menu .links li a.active,
header .container nav .main-ul > li:last-child .mega-menu .links li a:hover::before{
    width: 100%;
}

header .container nav .main-ul > li:last-child .mega-menu .links li a i{
    width: 20px;
    margin-right: 15px;
}

header .container nav .main-ul > li:last-child .mega-menu img{
    width: 47%;
}

/* Face Section */
.face{
    height: calc(100vh - 72px);
    background-color: var(--subColor2);
    position: relative;
    overflow: hidden;
}

.face::after{
    content: "";
    background-color: var(--mainColor);
    height: 200px;
    width: 100%;
    position: absolute;
    bottom: -80px;
    left: 0;
    transform: skewY(-5deg);
}

.face > a{
    color: var(--mainColor2);
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    font-size: 30px;
    font-weight: 800;
    animation-name: bouncing;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

.face .container{
    display: flex;
    height: 100%;
    align-items: center;
    padding-bottom: 170px;
}

.face .container div h1{
    font-size: 45px;
}

.face .container div p{
    font-size: 22px;
    color: gray;
}

.face .container img{
    width: 600px;
    animation-name: slideFrombottom2;
    animation-duration: 2.2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
}

/* Articles Section */
.articles{
    padding: var(--sectionPadding);
}

.main-title{
    display: block;
    width: fit-content;
    margin: 0 auto 80px;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    border: 2px solid var(--subColor);
    padding: 0 20px;
    position: relative;
}

.main-title::before,
.main-title::after{
    content: "";
    width: 12px;
    height: 12px;
    background-color: var(--mainColor2);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
}

.main-title::before{
    left: -30px;
}

.main-title::after{
    right: -30px;
}

.main-title:hover{
    transition-delay: .5s;
    color: var(--mainColor);
    border: 2px solid var(--mainColor);
}

.main-title:hover::before{
    animation-name: moveToright;
    animation-duration: .5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    z-index: -1;
}

.main-title:hover::after{
    animation-name: moveToleft;
    animation-duration: .5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    z-index: -1;
}

.articles .container .grid-columns--4 .article{
    border-radius: var(--borderRadius);
    box-shadow: 0 0 7px 0 rgb(156, 156, 156);
    transition: var(--mainTransition);
}

.articles .container .grid-columns--4 .article img{
    width: 100%;
    border-radius: var(--borderRadius) var(--borderRadius) 0 0;
}

.articles .container .grid-columns--4 .article .article-info{
    padding: 15px 20px;
    border-bottom: 1px solid var(--subColor2);
}

.articles .container .grid-columns--4 .article .article-info h2{
    font-size: 18px;
}

.articles .container .grid-columns--4 .article .article-info p{
    font-size: 1em;
    color: grey;
}

.articles .container .grid-columns--4 .article .read-more{
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.articles .container .grid-columns--4 .article .read-more a,
.articles .container .grid-columns--4 .article .read-more i{
    color: var(--mainColor2);
    font-weight: 700;
}

.articles .container .grid-columns--4 .article:hover{
    transform: translateY(-15px);
    box-shadow: 0 0 15px 0 rgb(156, 156, 156);
}

.articles .container .grid-columns--4 .article:hover .read-more i{
    animation-name: slideFromleft;
    animation-duration: .6s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
}

/* Gallary Section */
.gallary{
    padding: var(--sectionPadding);
}

.gallary .container .grid-columns--3 .box{
    padding: 15px;
    background-color: var(--mainColor);
    box-shadow: 0 0 7px 0 rgb(156, 156, 156);
}

.gallary .container .grid-columns--3 .box div{
    overflow: hidden;
    position: relative;
}

.gallary .container .grid-columns--3 .box div::before{
    content: "";
    width: 12px;
    height: 12px;
    background-color: #ececec36;
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: var(--mainTransition);
    opacity: 0;
}

.gallary .container .grid-columns--3 .box div img{
    max-width: 100%;
    transition: var(--mainTransition);
}


.gallary .container .grid-columns--3 .box div:hover::before{
    animation-name: flashing;
    animation-duration: .7s;
}

.gallary .container .grid-columns--3 .box div:hover img{
    transform: rotate(6deg) scale(1.1);
}

/* Features Section */

.features .container .grid-columns--3 .feature{
    text-align: center;
    border: 1px solid rgb(211, 211, 211);
}

.features .container .grid-columns--3 .feature h1{
    font-size: 40px;
    width: fit-content;
    margin: 0 auto;
    position: relative;
}

.features .container .grid-columns--3 .feature h1::after{
    content: "";
    height: 4px;
    width: 80%;
    margin: 0 auto;
    position: absolute;
    bottom: 0;
    left: 10%;
}

.features .container .grid-columns--3 .red h1::after{
    background-color: var(--featuresColor1);
}

.features .container .grid-columns--3 .green h1::after{
    background-color: var(--featuresColor2);
}

.features .container .grid-columns--3 .blue h1::after{
    background-color: var(--mainColor2);
}

.features .container .grid-columns--3 .feature p{
    font-size: 20px;
    color: gray;
    padding: 50px 20px;
}

.features .container .grid-columns--3 .feature a{
    font-size: 22px;
    font-weight: 700;
    padding: 0 30px;
    border-radius: 5px;
    margin-bottom: 30px;
    position: relative;
}

.features .container .grid-columns--3 .feature:hover a{
    color: var(--mainColor);
}

.features .container .grid-columns--3 .feature a::before{
    content: "";
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: .3s ease-out;
}

.features .container .grid-columns--3 .feature:hover a::before{
    width: 100%;
}

.features .container .grid-columns--3 .red a{
    color: var(--featuresColor1);
    border: 3px solid var(--featuresColor1);
}

.features .container .grid-columns--3 .red a::before{
    background-color: var(--featuresColor1);
}

.features .container .grid-columns--3 .green a{
    color: var(--featuresColor2);
    border: 3px solid var(--featuresColor2);
}

.features .container .grid-columns--3 .green a::before{
    background-color: var(--featuresColor2);
}

.features .container .grid-columns--3 .blue a{
    color: var(--mainColor2);
    border: 3px solid var(--mainColor2);
}

.features .container .grid-columns--3 .blue a::before{
    background-color: var(--mainColor2);
}

.features .container .grid-columns--3 .feature .feature-img{
    position: relative;
    overflow: hidden;
}

.features .container .grid-columns--3 .feature .feature-img::after{
    content: "";
    border-style: solid;
    border-width: 0 0 150px 500px;
    border-color: transparent transparent white transparent;
    position: absolute;
    bottom: 0;
    right: 0;
    transition: .3s;
}

.features .container .grid-columns--3 .feature:hover .feature-img::after{
    border-width: 150px 500px 150px 0;
}

.features .container .grid-columns--3 .feature .feature-img img{
    max-width: 100%;
}

.features .container .grid-columns--3 .red .feature-img::before{
    content: "";
    background-color: var(--featuresColor1);
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: .5;
}

.features .container .grid-columns--3 .green .feature-img::before{
    content: "";
    background-color: var(--featuresColor2);
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: .5;
}

.features .container .grid-columns--3 .blue .feature-img::before{
    content: "";
    background-color: var(--mainColor2);
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: .5;
}

/* Media Queries */
/* Mobiles */
@media (max-width: 767px){
    /* Utilities */
    .container{
        width: 95%;
    }

    /* Header */
    header .container nav{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: fit-content;
    }

    header .container nav .main-ul li a{
        padding: 7px;
        height: fit-content;
        font-size: 1em;
    }

    header .container nav .main-ul > li:last-child:hover .mega-menu{
        position: absolute;
        left: 0;
        top: 92px;
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0 5px;
    }

    header .container nav .main-ul > li:last-child:hover .mega-menu img{
        display: none;
    }

    header .container nav .main-ul > li:last-child .mega-menu .links{
        width: 100%;
    }

    .face .container{
        display: flex;
        height: 100%;
        align-items: center;
        padding-bottom: 170px;
    }

    .face .container div{
        text-align: center;
    }

    .face .container div h1{
        font-size: 25px;
    }

    .face .container div p{
        font-size: 17px;
    }

    .face .container img{
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 1112px){

    /* Face Section */
    .face .container div{
        text-align: center;
        width: 100%;
    }

    .face .container div h1{
        font-size: 25px;
    }

    .face .container div p{
        font-size: 17px;
    }

    .face .container img{
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 1220px){
    /* Header */
    header .container nav .main-ul > li:last-child:hover .mega-menu img{
        display: none;
    }

    header .container nav .main-ul > li:last-child .mega-menu .links{
        width: 48%;
    }
}